@media screen and (max-width: 1200px) {
  .char-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .char-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .char-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .char-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .char-list {
    column-gap: 0;
  }

  .char-item {
    flex-basis: 100%;

    flex-grow: 1;
  }
}
